* {
    margin:0px;
    box-sizing: border-box;
}

#test {
    margin: 0px auto;
}

.tile {
    width:100px;
    height:100px;
    background-image: url("/tile/0.png");
    background-size: contain;
    image-rendering: pixelated;
    outline: 1px solid;
    float: left;
}

/*button {
    position: fixed;
    bottom: 15px;
    margin: 0px auto;
}*/